doctype html
html
  head
    title Webpack Works!
    link(rel="stylesheet" href="styles.css")
  body
    .container
      header: .headcontent #[img(src="assets/wpicon.png" width="150px" height="150px")] #[span Webpack Works!]
      nav
        ul
          li: a(href="index.html") Home 
          li: a(href="webpack.html") Web..what?
          li: a(href="tools.html") The tools
          li: a(class="mainTab" href="process.html") The process
      main
        block content
      footer
        p 2017 Rafael Ferreira
